if SOC_SERIES_HAPPY_SCRAPY

config SOC_SERIES
	default "soc_a"

config SOC
	default "yep" if SOC_IS_HAPPY

source "$(SOC_DIR)/$(ARCH)/product/soc_a/Kconfig.defconfig.soc_a_*"

endif # SOC_SERIES_HAPPY_SCRAPPY
