config SOC_FAMILY_HAPPY_SCRAPPY
	bool

if SOC_FAMILY_HAPPY_SCRAPPY
config SOC_FAMILY
	string
	default "happy_scrappy_hero_pup"

config SOC_IS_HAPPY
	bool
	default n

rsource "*/Kconfig.soc"

endif # SOC_FAMILY_HAPPY_SCRAPPY
