choice
     prompt "Happy Scrappy Hero Pup SoC Family Selection"

source "$(SOC_DIR)/$(ARCH)/*/Kconfig.soc"

endchoice

menu "Happy Scrappy Hero Pup SoC revision selection"
osource "$(SOC_DIR)/$(ARCH)/*/Kconfig"

endmenu
